/* TODO: Move styles for cards to a more modular approach, consider CSS Grid for responsiveness */
/* TODO: Replace global styles with scoped styles for specific components */
/* TODO: Refactor card styles to ensure consistency across different screen sizes */

:root {
  --cards: 3;
  --cardHeight: 700px;
  --cardTopPadding: 1.5rem;
  --cardMargin: 5vw;
}

#cards{
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

#card1{
  --index: 1;
}
#card2{
  --index: 2;
}
#card3{
  --index: 3;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}








/* .projects {
  @apply md:h-screen;
}
.project-container {
  @apply container px-6 py-16 mx-auto space-y-3 md:max-w-7xl md:py-32 md:text-center;
}

.project-grid-container {
  @apply container grid grid-cols-1 gap-3 px-6 pt-16 mx-auto md:max-w-7xl md:grid-cols-2 lg:grid-cols-3;
} */

